<div class="container-fluid" id="container">
  <header>
    <shared-header></shared-header>
  </header>
  <main class="container-fluid h-100">
    <div class="row h-100">
      <aside class="col-md-3 aside-bar" *ngIf="projectsPath('/projects')" >
          <app-side-bar></app-side-bar>
      </aside>
      <section class="col m-0 p-0">
          <router-outlet></router-outlet>
      </section>
  </div>
  </main>
  <footer class="fixed-bottom text-center pt-1">
    <shared-footer></shared-footer>
  </footer>
</div>