.color-selected {
    border: solid 2px #444;
    border-radius: 3px;
    margin: 5px;
    height: 30px;
    width: 30px;
    background-color: burlywood;
}

.color-selected:hover {
    cursor: pointer;
}

#White {
    background-color: #ffffff;
    border: 2px solid red;
}
#Green {
    background-color: #127623;
}
#Orange {
    background-color: #dba126;
}
#Black {
    background-color: #111;
}
#Blue {
    background-color: #1224ff;
}
#Yellow {
    background-color: #ffcc22;
}