<div class="container-fluid h-100 pt-5" id="background">
    <div class="row mx-0 text-center">
        <div class="col">
            <h2 class="fs-1">Página de proyectos de ángular</h2>
        </div>
    </div>
    <div class="row mx-0 text-center mt-4">
        <div class="col"></div>
        <div class="col-10 col-sm-8 col-md-6">
            <p class="fs-3">¡Bienvenidos a mi portafolio de programación! En mi portafolio, podrás ver una selección de mis proyectos más recientes.</p>
        </div>
        <div class="col"></div>
    </div>
</div>