<div class="mt-2">
    <div class="row px-5">
        <div class="col d-flex justify-content-start">
            <p>© Uriel Alloatti • 2023</p>
        </div>
        <div class="col d-flex justify-content-end">
            <p> | 
                <a href="http://linkedin.com/in/uriel-alloatti"  target="_blank" class="text-decoration-none footer-text">
                    Lnkedin
                </a> | 
                <a href="http://github.com/urialloatti"  target="_blank" class="text-decoration-none footer-text">
                    Github
                </a> |
            </p>
        </div>
    </div>
</div>