:root {
  --bg-dark: #504040;
  --bg-accent: #902220;
  --bg-light: #fff6f6;
  --bg-light-accent: #ffe8e8;

  --color-light: #efd2d2;
  --color-lighter: #fad3d3;
  --color-dark: #101a24;
  --color-middle: #8a6d6d;
  --color-accent: #b02828;
  --color-accent-light: #c83838;
  --color-accent-lighter: #e43d3d;
}

.body {
  background-color: var(--bg-light-accent);
}

.title {
  color: var(--color-middle) !important;
}

.btn-color {
  background-color: var(--bg-accent);
}

.btn-color:hover {
  background-color: var(--color-accent-light);
  transition: 0.3s;
}

#modal-box {
  height: fit-content;
  position: fixed;
  top: 10%;
  left: 30%;
  display: inline;
  width: 40%;
}

#modal-dialog {
  z-index: 1055;
}

@media (max-width: 1200px) {
  #modal-box {
    left: 25%;
    width: 50%;
  }
}

@media (max-width: 992px) {
  #modal-box {
    left: 15%;
    width: 70%;
  }
}

@media (max-width: 768px) {
  #modal-box {
    left: 10%;
    width: 80%;
  }
}
