.upper-bar {
    padding: 1em 0em;
    display: flex;
    justify-content: space-between;
    height: 2.5em;
}

.search-bar {
    display: flex;
    justify-content: space-between;
}

.search-bar-product {
    width: 30%;
}

.search {
    display: flex;
}

.search-product {
    width: 100%;
}

.search input{
    width: 90%;
    padding: 4px 10px;
}

.search-icon {
    padding: 0px 6px;
    padding-top: 8px;
    width: 1em;
    border-radius: 0px 5px 5px 0px;
    background-color: #000;
    color: #fff;
}

.filter select {
    margin-left: 1em;
    border-radius: 3px;
    padding: 4px 10px;
    height: 100%;
    background-color: #000;
    color: #fff;
}

.pages {
    display: flex;
}

.page-indicator {
    border: 1px solid #ddd;
    background-color: #fcfcfc;
    padding: 4px 10px;
    text-align: center;
}

.page-indicator a {
    text-decoration: none;
    color: #000;
}

#prev {
    background-color: #eee;
}

#prev a {
    color: #ccc;
}

#selected {
    background-color: rgb(130, 209, 209)
}

#selected a {
    color: #ffffff;
}

.product-card-container {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    gap: 4%;
    row-gap: 3em;
}
.product-card-container a {
    text-decoration: none;
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 1em;
}

.product-card-description img {
    width: 100%;
    max-height: 10em;
    object-fit: cover;
}

.product-card-name {
    margin-top: 10px;
    color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: larger;
}

.description {
    margin-top: 10px;
    color: #333;
    font-size: small;
}

.price-tag {
    color: #222;
}