:root {
    --dark: #222831;
    --dark-lighter: #393E46;
    --middle-gray: #727C8C;
    --light-darker: #D2CBAB;
    --light: #EEEEEE;
    --accent-strong: #FFC815;
    --accent: #FFD369;
    --accent-dark: #e1c95d;
}