<div class="container-fluid bg-gradient pt-3 px-4">
    <div class="row">
        <div class="col-md-3 ms-3">
            <a class="h2 text-decoration-none py-2" routerLink="../home"><i class="bi bi-backpack2"></i> My projects</a>
        </div>
        <div class="col  px-3">
            <ul class="bg-transparent d-flex justify-content-end">
                <li class="list-group-item ms-2" *ngFor="let option of menuOptions">
                    <button [routerLink]="option.path" class="btn btn-outline-dark">{{ option.name }}</button>
                </li>
            </ul>
        </div>
    </div>
</div>